<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <img src="{{ site.github.owner_gravatar_url }}?s=150" height="75" width="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="meta">
    <a href="{{ site.github.owner_url }}" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://reakain.itch.io/" target="_blank" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-itch"></i></a>
    <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/">About</a></li>
      <!-- <li><a href="/">posts</a></li> -->
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/guides/">Guides</a></li>
      <li><a href="https://trashbros.wordpress.com/">Other Tutorial Bits</a></li>
      <!-- <li><a href="https://trashbros.wordpress.com/tag/circuits/">Circuits Tutorials</a></li>
      <li><a href="https://trashbros.wordpress.com/tag/unity/">Unity Tutorials</a></li> -->
      <li><a href="/blog/">Blog (Aka Misc)</a></li>
    </ul>
  </section>
</section>
